@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-label {
      @apply absolute left-0   px-[0.75rem]  text-gray-400 text-xs transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-4 peer-focus:top-[3px] peer-focus:text-gray-400 peer-focus:text-xs top-[3px];
    }
  }

  .route-enter-from {
    opacity: 0;
    transform: translateX(100px) 
  }
  
  .route-enter-active{
    transition: all 0.16s ease-out;
  }
  
  .route-leave-to {
    opacity: 0;
    transform: translateX(-100px)
  }
  
  .route-leave-active {
    transition: all 0.16s ease-in;
  
  } 

  .inactive{
    background-color: #cccccc;
    pointer-events: none;
  }